/* Layout */


/* Gloabal Styles */
/* Page Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Entire Visual Page Styles */
/* Full Height of the Screen */
body {
    font-family: var(--font-main);
    line-height: 1.6;
    flex-direction: column;
    min-height: 100vh;	
}


/* Header Styles */
/* Actual Header Section */
header {
    color: white;
    background-color: black;
    padding: 1.5rem;
    text-align: center;
}

/* Header Title */
header h1 {
    font-family: var(--font-header);
}


/* Main Part of Content Styles */
/* Space Between the Header and Footer */
main {
    flex: 1;
    padding: 2rem;
    padding-top: 0px;
    margin: 3rem;
    text-align: center;
}


/* Footer Styles */
/* Actual Footer Section */
footer {
    color: white;
    background-color: black;
    padding: 1.5rem;
    text-align: center;
}

/* Main Content of the Footer */
.footer-Content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* Our Shoutout at the Bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

